<nav >
    <img src="./assets/img/logo_scrumble.png" alt="">
    <ul>
        
        <li> <a routerLinkActive='active' routerLink='/daylicarte'> Daylicarte </a>  </li>  
        <li> <a routerLinkActive='active' routerLink='/accueil'> CarteRevue</a>  </li>
        <li> <a routerLinkActive='active' routerLink='/accueil'> CartePb</a>  </li>  
        <li> <a routerLinkActive='active' routerLink='/accueil'> Role</a>  </li> 
        <li> <a routerLinkActive='active' routerLink='/accueil'> Regles</a>  </li>  
        <li> <a routerLinkActive='active' routerLink='/accueil'> Userstories</a>  </li> 
     
        
    </ul>
</nav>
