
    <div class="container">

        <div class="wrapper fadeInDown">
            <div id="formContent">
                <h2 class="inactive underlineHover">Authentification </h2>
                <form [formGroup]="form" (ngSubmit)="submit()">
    
                    <div class="form-group">
                        <!-- <label for="mail">mail</label> -->
                        <input formControlName="fullname" id="fullname" type="text" class="form-control"placeholder="name">
                        <div *ngIf="f.fullname.touched && f.fullname.invalid" class="alert alert-danger">
                            <div *ngIf="f.fullname.errors?.required">fullname is required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="mail">mail</label> -->
                        <input formControlName="email" id="email" type="mail" class="form-control"placeholder="mail">
                        <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                            <div *ngIf="f.email.errors?.required">email is required.</div>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <!-- <label for="description">password</label> -->
                        <input formControlName="password" id="description" type="password" class="form-control"placeholder="password">
             
                        <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                            <div *ngIf="f.password.errors?.required">password is required.</div>
                        </div>
                    </div>
    
    
                    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Sign-up</button>
                </form>
            </div>
        </div>


    </div>
