section{
  display:flex;
  flex-direction:row;

}
article{
  margin:5%;
  width:50%;

}
section >article>h1,h2{ text-align: center;}

form{
  
  width: 90%;
  height: 100%;
  padding:2%;
}
label{ color:white;}

input[type=text],input[type=password],input[type=mail] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid white;
}
 input[type=submit] {
   width: 33%;
   background-color: #4CAF50;
   color: white;
   padding: 14px 25px;
   margin-top: 5%;
   margin-left: 30%;
   border: none;
   border-radius: 12px;
   cursor: pointer;
 }
 div{
   color:white;
   margin-left: 37%;
   font-size: x-small;
 }
 div>a{
   color:red;
   font-weight: bold;
   text-decoration: none;
   margin-left: 0%;
   font-size: x-large;
 }
 p{
   margin-top: 10%;
   font-size: large;
   font-weight: lighter;
   color: white;
 }
 p>span{
   font-size: xx-large;
   color: white;
 }
 .article2{
   /* background-color: #62797F;  */
   height: 100%;
 }

