
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="../assets/css/Accueil.css">
     <link rel="stylesheet" href="../assets/css/scrumble.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>



 <section style="margin-left:50%; margin-top: 5%;margin-bottom: 10%;">
    <h1>SCRUMBLE</h1>
    <h2>L'expérience agile</h2>
    <p style="margin-left:38%;">Bienvenue dans la simulation des méthodes agiles.</p>

</section> 