<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/scrumble.css">
    <link rel="stylesheet" href="../assets/css/administration.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>


<section>
    <h1> Administrer le jeu</h1>
    <div class="cadregestionjeu" id="gestion">
        
        <!-- <button class="btn3"> <a href="/regles" data-link="/regles"> voir les regles </a></button>
       
        <div>
        <button class="btn3"> <a href="/administrationregles" data-link="/administrationregles"> Gestion des regles </a></button>
        <button class="btn3"> <a href="/administrationuserstories" data-link="/administrationuserstories"> Gestion des userstories </a> </button>
        <button class="btn3"> Gestion des faqs </button></div> -->
    </div>
</section>



</html>