<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/scrumble.css">
    <link rel="stylesheet" href="../assets/css/administrationregles.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>


<section>

    <div class="cadregestionjeu">

        <h1> Administrer les differentes userstories</h1>

        <!-- <button class="btnregles"> <a href="/createregles" data-link="/createregles">Creer de nouvelles userstories</a> </button> -->
        <div id="reglecadre">
            <table>
                <tr>
                    <th>id</th>
                    <th>userstories</th>
                    <th>Action</th>
                </tr>
                <tbody id="contenutable">
                    



                </tbody>
            </table>
        </div>
    </div>
    <div class="positionbutton">
        <button class="btnregles"> <a href="/administration" data-link="/administration">précédent</a> </button></div>
</section>


<br>
<div></div>

</html>