<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/scrumble.css">
    <link rel="stylesheet" href="../assets/css/compte.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>


<section>
    <div class="cadreadmin">
        <h1> Inscrivez-vous </h1>
        <form action="" method="post" id="form">

            <input type="text" id="nom" name="nom" placeholder="entrez votre nom">
            <input type="text" id="mail" name="mail" placeholder="entrez votre email">
            <input type="password" id="password" name="password" placeholder="entrer votre password">

            <div style="display: flex;flex-direction: row; justify-content: center;">
                <input type="reset" value="Annuler">
                <input type="submit" value="Créer un compte">
            </div>
        </form>

    </div>
</section>



</html>