 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/scrumble.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>
<!--
<body style="overflow-x:hidden;overflow-y: scroll;">

    <header style="margin-top:1%;"id="header">
        <nav>
            <img src="../assets/img/logo_scrumble.png" alt="">
            <ul></ul>
        </nav>
    </header> -->

    <section>
        <div  class="cadreconnexion">
            <h1> Inscrivez-vous </h1>
            <form action="" method="post" id="form">


                <input type="text" id="mail" name="mail" placeholder="entrez votre email">


                <input type="password" id="password" name="password" placeholder="entrer votre password">
              
                    <select id="level" name="level" placeholder="entrer votre niveau">
                        <option value=""> entrer votre niveau</option>
                        <option value="néophyte">néophyte</option>
                        <option value="débutant">debutant</option>
                        <option value="intermédiaire">intermédiaire</option>
                        <option value="expert">expert</option>
                    </select>
               
                <div style="display: flex;flex-direction: row; justify-content: center;">
                    <input type="reset" value="Annuler" >
                    <input type="submit"  value="Créer un compte">
                </div>
            </form>

        </div>
    </section>
    <!-- <footer class="footer" style="display:flex; background-color:#62797F; font-weight:bold; font-size:0.8em;">
        <img src="../assets/img/Logo_FabriqueNumerique_blanc_96.png" alt="logofabriquenumerique">
        <p style="margin-right: 1%; margin-left:5%;"> Mentions légales | RGPD | une réalisation Pyxis.com /
            Fabriquenumerique.fr </p>
        <p style=" margin-left:21%; margin-right: 25%;margin-right: 1%;"> Le serveur est prêt à jouer... la balle est
            dans votre camp </p>
        <div class="cercle"> </div> 
    </footer> -->
    <!-- <script src="js/navbar.js"></script>
    <script src="js/footer.js"></script> -->
</body>

</html> 