<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/scrumble.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>


    <section>
        <div  class="cadreconnexion">
            <h1> Inscrivez-vous </h1>
            <button class="btn"> <a href="/authentification" data-link="/authentification"> Creer un Compte </a> </button>
            <button class="btn"> <a href="/connexion" data-link="/connexion">Connexion</a></button>

        </div>
    </section>
  


</html> 