<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/scrumble.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>


    <section> 
        <h1> Connectez-vous </h1>
        <div  class="cadreconnexion">
           
            <form action="" method="post" id="form">
                <div>
                <label class="labelspec"> Votre email</label><br>
                <input type="text" id="mail" name="mail" placeholder="entrez votre email" autocomplete="false"></div>
                <div>
                <label class="labelspec"> Votre password</label><br>
                <input type="password" id="password" name="password" placeholder="entrer votre password" >
              </div>
                 
               
                <div class="buttonrep" >
                    <input type="reset" value="Annuler">
                    <input type="submit"  value="Connexion">
                </div>
            </form>

        </div>
    </section>
  


</html> 