<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/scrumble.css">
    <link rel="stylesheet" href="../assets/css/createregles.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>


<section>
    <div style="display:flex;flex-direction:row;">
        <button class="btnregles"> <a href="/administrationroles" data-link="/administrationroles">gestion</a>
        </button>
        <p id="messageflash"> </p>
    </div>
    <div class="cadreconnexion">
        <h1> Creer une regle de jeu: </h1>
        <div id="reglecadre">

            <form action="http://localhost:3018/createregles" method="post" id="formcreateregles">


                <select id="level" name="level" placeholder="entrer le droit d'utilisateur souhaité">
                    <option value=""> entrer votre droit</option>
                    <option value="USER">USER</option>
                    <option value="ADMIN">ADMINISTRATEUR</option>
                </select>

                <div style="display: flex;flex-direction: row; justify-content: center;">
                    <input type="reset" value="Annuler">
                    <input type="submit" value="Valider la regle">

                </div>
            </form>
        </div>
    </div>
</section>
</html>