<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/scrumble.css">
    <link rel="stylesheet" href="../assets/css/createregles.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>


<section>
    <div class="cadreconnexion">
        <h1> Creer une regle de jeu: </h1>
        <button class="btnregles"> <a href="/administrationregles" data-link="/administrationregles">gestion</a> </button>
        <p id="messageflash"> </p>
        <form action="http://localhost:3018/createregles" method="post" id="formcreateregles">

            
            <input type="text" id="titre" name="titre" placeholder="entre le titre de l'article">

           
            <input type="text" id="resume" name="resume" placeholder="entrer votre resume (max: 3lignes)">
          
            <textarea id="textarea" name="description" rows="4" cols="65"
                placeholder="rentrer le descriptif de votre regle de jeu"> 
                </textarea> <br>
            <p class="repartitionVert">
            <p class="repartition">
                <label class="position">choisir une image:</label>
                <input type="file" id="myFile" name="image">
            </p><br>
            <p class="repartition">
                <label class="position">choisir une video :</label>
                <input type="file" id="myVideo" name="video" placeholder="choisir une video"></p>
            </p>

            <div style="display: flex;flex-direction: row; justify-content: center;">
                <input type="reset" value="Annuler">
                <input type="submit" value="Valider la regle" >
                
            </div>
        </form>

    </div>
</section>



</html>