<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jeu</title>

    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/scrumble.css">
    <link rel="stylesheet" href="../assets/css/jeu.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>

</head>

<body>

    <div class="cadretitre">
        <div id="titreJeu">

            <span> <a id="cadrefleche" href="/etape4" data-link="/etape4"> &#10094;</a></span>
            <span>
                <h2> Bravo!!! vous etes <span id="nmbredejoeur"> 0 </span> joeurs/joeuses à pouvoir tirer les dés en
                    même temps
                </h2><br>
                <p> <span id="nameJoeur"></span>
                    <br> Tirez votre dé
                    <span id="resultatTirage"></span>
                </p>

            </span>

        </div>
        <div class="accordionbox">
            <div>
                <input id="tab-one" name="myaccordion" type="checkbox" />
                <label for="tab-one">Voir les differentes Users stories en Cours</label>

                <div class="insidebox">
                    <div id="listJoueur" > 

                    </div>
                    <div class="insideboxdetail">
                        <p class="insideboxtext"> N°Userstorie</p>
                        <p style="margin-left: 1% ;margin-right: 1%;">|</p>
                        <p class="insideboxtext">taille:</p>
                        <p style="margin-left: 2% ;margin-right: 2%;">|</p>
                        <p class="insideboxtext"> Joueurs </p>
                    </div>
                    <div class="insideboxcadre">
                        <p class="insideboxtext"> N°i: loreme Ipsum</p>
                        <p style="margin-left: 1%; margin-right: 1%;">|</p>
                        <p class="insideboxtext"> <span>&#x2605;</span> <span>&#x2605;</span>
                            <span>&#x2605;</span></p>
                        <p style="margin-left: 2% ;margin-right: 2%;">|</p>
                         <p class="cadrebox"> <span> X</span><span> X</span></p>
                    </div>
                    <div class="insideboxcadre">
                        <p class="insideboxtext"> N°2 loreme Ipsum</p>
                        <p style="margin-left: 2% ;margin-right: 2%;">|</p>
                        <p class="insideboxtext"> <span>&#x2605;</span> <span>&#x2605;</span></p>
                        <p style="margin-left: 2% ;margin-right: 2%;">|</p>
                        <p class="cadrebox"> <span> X</span></p>
                    </div>
                    <div class="insideboxcadre">
                        <p class="insideboxtext">N°3 loreme Ipsum</p>
                        <p style="margin-left: 2% ;margin-right: 2%;">|</p>
                        <p class="insideboxtext"> <span>&#x2605;</span> <span>&#x2605;</span></p>
                        <p style="margin-left: 2% ;margin-right: 2%;">|</p>
                         <p class="cadrebox"> <span> X</span></p>
                    </div>
                    <div class="insideboxcadre">
                        <p class="insideboxtext">N°4 loreme Ipsum</p>
                        <p style="margin-left: 2% ;margin-right: 2%;">|</p>
                        <p class="insideboxtext"> <span>&#x2605;</span> <span>&#x2605;</span></p>
                        <p style="margin-left: 2% ;margin-right: 2%;">|</p>
                       <p class="cadrebox">  <span> X</span></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <section class="cadreCentrale">
        <section class="cadreGauche">
            <article class="cadrejeu">
                <div id="chartdiv">
                </div>
            </article>
            <article>
                <div id="rejetcartedayli" class="dashed">
                    <div class="rebmaincontainer">
                        <div class="thecarde" id="carterebu">

                        </div>
                    </div>
                </div>
                <p >
                     <div id="backapion">

                    </div> 
                </p>

            </article>
        </section>
        <section class="cadreDroite">

            <article class="pistede dice" id="ref">

            </article>
            <div style="font-size: 0.75em; margin-top: 2%;">
                cliquez sur un des paquets puis sur la carte dans le cadre et enfin sur la petite croix une fois la
                carte lue.
            </div>
            <article class="piste">
                <p>
                <div class="cadrecarte">
                    <p> Dayli </p>
                    <p class="formegeom color1" id="carteday"></p>
                </div>
                <div class="cadrecarte">
                    <p> revue </p>
                    <p class="formegeom color2" id="carterev"></p>
                </div>
                <div class="cadrecarte">
                    <p> Probleme </p>
                    <p class="formegeom color3" id="cartepb"></p>
                </div>
                </p>
            </article>
            <article class="pistecard" id="pistegrcarte">


                <div class="maincontainer">
                    <div class="thecard" id="carte">

                    </div>
                </div>

            </article>
            <!-- <div>
                <h3 class="titre"> DayliCard
                    <br> <span> validez votre lecture en cliquant sur la croix en bas de carte </span>
                </h3>
               
                <h3 class="titre"> RevueCard <br> <span> validez votre lecture en cliquant sur la croix en bas de carte
                    </span></h3>
                <article class="pistecard">
                    <div class="maincontainer">
                        <div class="thecard" id="carte2">
                            <div class="thefront"></div>
                            <div class="back">
                                <h3> Titre1</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim rem expedita, officia,
                                    eum corporis suscipit nemo optio iure nam voluptate, quisquam accusamus nesciunt
                                    amet illum veniam assumenda eos possimus laborum!</p>
                                <p class="croix" id="interet"> +</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div> -->
        </section>

    </section>
    <!-- //  const zonejoueur= document.querySelectorAll('.insideboxtext');
    //  const itemGame=document.querySelectorAll('itemGame');
    //  console.log(zonejoueur,itemGame);
    //  let draggedItem = null;
    //  for (let i = 0; i < itemGame.length; i++) { // boucle sur chaque list d'items 
    //     const item = itemGame[i];
    //     item.addEventListener('dragstart', function (e) { // sur chaque carte on effectue un evement d'activation du déplacement
    //         console.log('dragstart', e);
    //         draggedItem = item; // 1 elt deplacé = un item
    //         setTimeout(function () {
    //             item.style.display = "none"; // chaque item n'a pas de style display particulier
    //         }, 0)

    //     })
    //     item.addEventListener('dragend', function () { // sur chaque carte on effectue un evement de fin du déplacement
    //       console.log('dragend');
    //       setTimeout(function (e) {
    //           draggedItem.style.display = "block"; // chaque item déplacé a style display particulier block
    //           draggedItem = null;
    //       }, 0)
    //   })
    //   for (let j = 0; j < zonejoueur.length; j++) { // chaque item déplacé a style display particulier block
    //     const listZoneJ = zonejoueur[j];
    //     listZoneJ.addEventListener('dragover', function (e) {
    //         e.preventDefault();
    //     });
    //     listZoneJ.addEventListener('dragenter', function (e) {
    //         e.preventDefault();
    //     });
    //     listZoneJ.addEventListener('drop', function () {
    //         this.append(draggedItem);
    //     });

    // }
    //  } -->

</body>

</html>