<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="message-container" class="cadre">

    </div>
    <form id='form'>
        <label for="message-input">Message</label>
        <div class="repartition">
            <input type="text" id="message">
            <button type="submit" id="send" class="btn2"> Send </button>
        </div>
        <label for="room-input">Room</label>
        <div class="repartition"> 
            <input type="text" id="room-input">
            <button type="submit" id="room-button" class="btn2"> Join</button>
        </div>
        <div> ..... <br>....<br>..... <br>....<br>..... <br>....<br></div>
    </form>
</body>

</html>