<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/scrumble.css">
    <link rel="stylesheet" href="../assets/css/administrationregles.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>


<section>
    <h1> Selection du paquet de userstories a créer et a traiter</h1>
    <div id="reglecadre">

        <form action="" method="post" id="formpaquet">


            <select id="level" name="level" placeholder="selection du paquet">
                <option value=""> selection du nom du paquet</option>
                <option value="paquet1">paqu1et</option>
                <option value="paquet2">paquet2</option>
                <option value="paquet3">paquet3</option>
            </select>
            <select id="configuration" name="configuration" placeholder="selection de la configuration du paquet traité">
                <option value=""> selection du nom du paquet </option>
                <option value=""> none </option>
                <option value="paquet1">paquet1.1</option>
                <option value="paquet2">paquet1.2</option>
                <option value="paquet3">paquet1.3</option>
                <option value="paquet3">paquet1.4</option>
                <option value="paquet3">paquet1.5</option>
            </select>

            <div style="display: flex;flex-direction: row; justify-content: center;">
                <input type="reset" value="Annuler">
                <input type="submit" value="Valider la regle">

            </div>
        </form>
    </div>
</section>


</html>