<nav>
    <img src="./assets/img/logo_scrumble.png" alt="">
    <ul>
        
        <li> <a href="../../../../../../../Jeu/public/views/">ACCUEIL</a>  </li>  
            <li> <a href="../../../../../../../Jeu/public/views/regles"> REGLES DU JEU</a>  </li>  
            <li> <a href="../../../../../../../Jeu/public/views/preparerJeuEtape1"data-link="/etape1"> JOUER</a>  </li>  
            <li> <a href="#"> FAQ</a>  </li>  
            <li> <a href="/compte" data-link="/compte"> COMPTE </a>  </li>  
     
        
    </ul>
</nav>