<!DOCTYPE html>
<html>


  <meta name="viewport" content="width=device-width, initial-scale=1">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/slidefin.css">
    <link rel="stylesheet" href="../assets/css//scrumble.css">
  
    
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
  </head>

  


    <section onmouseenter="on()"style="height:27em;margin-top:1%;">
    <div id="overlay">
      <div>
        <div id="text" style="font-weight: bold;">
            <h2 style="font-size: 1.5em;"> Fin de partie </h2>
            <h3 style="margin-top: 5%;margin-left: 0%;width:100%;font-weight: bold;"> Vous avez <span id="etatpartie"> </span></h3>
            <div style=" margin-left:10%; margin-top:5%;">
                <button  class="btn shadow-1 primary rounded-4" style="background-color: #40C834;margin-left: -10%;"> <a href="preparerJeuEtape1.html"> REJOUER </a></button>
                <button  class="btn shadow-1 primary rounded-4" style="margin-left:15%;background-color: #FBAD16;text-align:center; color:black"> QUITTER</button>
            </div>
        </div>
    </div>
    </div>

    <div>
      <div> Element du jeu  (plateau + cartes a  terminée) </div>
    </div>
</section>
    
    

    <!-- <script src="js/slidefinale.js"></script> -->
  </div>
</body>

</html>