h1 {
    text-align: center;
    margin-bottom: 2%;
  }
  .container{ 
    margin-left: 5%;
    width: 90%;
    margin-top:2%;
    margin-bottom: 5%;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 1%;
  }
  .table >.cadretitre{
      border-bottom: solid 3px white;
  }
  .cadretitre{border-bottom:solid 5px white;}
  .table td,
  .table th {
    border: 1px solid #2b2d31;
    padding: 8px;
  }
  .cadreinfo{border-bottom:solid 5px white;margin-bottom: 5%;}
  .table tr {
    background-color: transparent;
    margin-top: 2%; 
   
  }
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  

  
  .btn {
    background-color: rgb(77, 200, 52);
    /* Green */
    border: none;
    color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
  }
  
  .btn2 {
    background-color: rgb(251, 173, 37);
    /* Green */
    border: none;
    color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    margin-top: 5%;
  }
  
  /* .btn {
      background-color: rgb(77, 200, 52);
      color: white;
      padding: 2px 25px;
      margin-top: 2%;
      border-radius: 10px;
      height: 2.5em;
      width: 10em;
    }
   
     */
  
  /* .btn2 {
      background-color: rgb(251, 173, 37);
      color: black;
      padding: 7px 20px;
      margin-bottom: 0%;
     
      border-radius: 1px;
      height: 2em;
      width: 10em;
    } */
  a {
    text-decoration: none;
    margin-bottom: 5%;
    margin-left: 10%;
  }
  
  .btn3 {
    background-color: #FAF5BC;
    color: black;
    margin-left: 0;
    padding: 25px 75px;
    margin-top: 10%;
    border-radius: 50px;
    height: 5em;
  
  }
  
  .btn4 {
    background-color: #202525;
  
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 85%;
    border-radius: 12px;
    padding: 0.2em 1.0em;
    color: white;
    cursor: pointer;
  }
  img{
      width: 150px;
      height: 150px;
  }
  video{
      width:150px;
      height: 150px;
      margin-top: -20%;
  }
  