<app-navbar></app-navbar>
<div class="container">
    <h1>Mettre a jour une Userstorie</h1>
  
    <a href="#" routerLink="/userstories1gestion" class="btn2">Accueil</a>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="id">id:</label>
            <input 
                formControlName="id"
                id="id" 
                type="number" 
                [(ngModel)]=" userstorie.id"
                class="form-control">
            <div *ngIf="f.id.touched && f.id.invalid" class="alert alert-danger">
                <div *ngIf="f.id.errors?.required">id is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="titre">Titre:</label>
            <input 
                formControlName="titre"
                id="titre" 
                type="text" 
                [(ngModel)]=" userstorie.titre"
                class="form-control">
            <div *ngIf="f.titre.touched && f.titre.invalid" class="alert alert-danger">
                <div *ngIf="f.titre.errors?.required">Titre is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="titre">image:(nom en caractère et extensions)</label>
            <input 
                formControlName="img"
                id="img" 
                type="text"
                [(ngModel)]=" userstorie.img" 
                class="form-control">
            <div *ngIf="f.img.touched && f.img.invalid" class="alert alert-danger">
                <div *ngIf="f.img.errors?.required">img is required.</div>
            </div>
        </div>

        <div style="display:flex; flex-direction: row;">
            <div class="form-group">
                <label for="titre">Dependance:</label>
                <input 
                    formControlName="Dependance"
                    id="Dependance" 
                    type="number" 
                    [(ngModel)]=" userstorie.Dependance" 
                    class="form-control cas">
                <div *ngIf="f.Dependance.touched && f.Dependance.invalid"  class="alert alert-danger">
                    <div *ngIf="f.Dependance.errors?.required">Dependance is required.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="titre">dposition</label>
                <input 
                    formControlName="dposition"
                    id="dposition" 
                    type="number" 
                    [(ngModel)]=" userstorie.dposition" 
                    class="form-control">
                <div *ngIf="f.dposition.touched && f.dposition.invalid"  class="alert alert-danger">
                    <div *ngIf="f.dposition.errors?.required">dposition is required.</div>
                </div>
            </div>
        </div>
        <div style="display:flex; flex-direction: row;">
            <div class="form-group" >
                <label for="titre">Taille: (★ ★ ★ ★ ★ / ★ ★ ★ ★ / ★ ★ ★ / ★ ★ / ★ )</label>
                <input 
                    formControlName="taille"
                    id="taille" 
                    type="text" 
                    [(ngModel)]=" userstorie.taille"
                    class="form-control cas">
                <div *ngIf="f.taille.touched && f.taille.invalid"  class="alert alert-danger">
                    <div *ngIf="f.taille.errors?.required">Taille is required.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="titre"> Value: (XS / S / L / M / XL)</label>
                <input 
                    formControlName="value"
                    id="value" 
                    type="text" [(ngModel)]=" userstorie.value"
                    class="form-control">
                <div *ngIf="f.value.touched && f.value.invalid"  class="alert alert-danger">
                    <div *ngIf="f.value.errors?.required">value is required.</div>
                </div>
            </div>
        </div>
         
        <div class="form-group">
            <label for="contenu">contenu</label>
            <textarea 
                formControlName="contenu"
                id="contenu" 
                type="text" 
                [(ngModel)]="userstorie.contenu"
                class="form-control">
            </textarea>
            <div *ngIf="f.contenu.touched && f.contenu.invalid" class="alert alert-danger">
                <div *ngIf="f.contenu.errors?.required">contenu is required.</div>
            </div>
        </div>
        
        <button class="btn" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>
<app-footer></app-footer>