<app-navbar></app-navbar>
<h1 style="text-align: center;"> GESTION des Regles</h1>
<div style="display: flex; flex-direction: row;">
  <div class="container">


    <!-- <a href="#" routerLink="/post/create/" class="btn btn-success"
      style="margin-bottom: 2%;color:white; margin-left: 2%;">Creer un nouvel evenement</a> -->
    <!-- <br> <a href="#" routerLink="/accueil" class="btn btn-success"
      style="margin-bottom: 5%;color:white;margin-left: 2%;">accueil</a> -->

    <table class="table table-bordered" style=" margin-top:3%;margin-bottom:10%;margin-left:5%; width: 80%;margin-right: 10%;">
      <tr style="background-color:grey; color:black;">
        <th width="150px">ID</th>
        <th width="150px">Titre</th>
        <th width="150px">contenu</th>
        <th width="150px">img</th>
        <th width="150px">texte</th>
        <th width="150px">video</th>
        <th width="150px">Action</th>
      </tr>
      <tr *ngFor="let regle of regles" style="background-color: white; color:black;">
        <td>{{ regle._id }}</td>
        <td>{{regle.titre}}</td>
        <td>{{ regle.contenu }}</td>
        <td>{{ regle.img}}</td>
        <td> {{regle.texte}}</td>
        <td>{{regle.video}}</td>

        <td>
          <!-- <a href="#" [routerLink]="['/dayli/', dayli._id, 'view']" class="btn btn-info">View</a>  -->
          <a href="#" [routerLink]="['/post/', regle._id, 'edit']" class="btn btn-primary">Edit</a> <br>
          <button type="button" (click)="deleteRegles(regle._id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
  </div>
 
    <div style="margin-left: 2% ; background-color:#475158 ; height: 35em; width: 33%;">
    <app-reglescreate></app-reglescreate>
  </div>
 
</div>


  <app-footer></app-footer>