<app-navbar></app-navbar>

  <article class="container">
    <h1>Gestion des Regles</h1>

    <a href="#" routerLink="/reglecreate" class="btn2">Creer une nouvelle regle: </a>
    <br> <br> <br>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Contenu</th>
        <th>Image (terminaison)</th>
        <th>texte(resumé)</th>
        <th>Video(nom du fichier)</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let regle of regles">
        <td>{{ regle._id }}</td>
        <td>{{ regle.titre }}</td>
        <td>{{ regle.contenu}}</td>
        <td>{{ regle.img}}</td>
        <td>{{ regle.texte}}</td>
        <td> {{regle.video}}</td>
        <td>
          <!-- <a href="#" [routerLink]="['/post/', post._id, 'view']" class="btn btn-info">View</a>-->
          <a href="#" [routerLink]="['/regles/', regle._id, 'edit', {postId: regle._id}]" class="btn">EDIT</a>

          <a class="action-btn" (click)="deletePost(regle._id)" class="btn2">
            DELETE
          </a>
        </td>
      </tr>
    </table>
  </article>
 

<app-footer></app-footer>