section{
    display:flex;
    flex-flow:column nowrap;
    margin:auto;
}
article{
    border: none;
}
section > section{
    width:80%;
}
section > article{
    overflow:hidden;
    overflow-x:auto ;
    width:100%;
    margin:10px 0;
}
section > article > div{
    display:flex;
    flex-flow:row nowrap;
    color:black;
}
section > article.selection{
    border:2px solid green;
}
section > article>div:nth-child(1), section > article>div:nth-child(3){
    width:75px;
    color:white;
    font-size:32px;
    transition:background-color .3s ease;
}
section > article>div:nth-child(1) > *, section > article>div:nth-child(3) > *{
    margin:auto;
}
/* section > article>div:nth-child(1):hover, section > article>div:nth-child(3):hover{
     background-color:rgba(0,0,0,.9); 
    border-radius: 50px;
} */
section > article>div:nth-child(2){
    width:calc(100% - 150px);
    overflow:hidden;
    overflow-x:hidden;
}
section > article.etape{
    justify-content:space-around;
}
.etape{margin-top:0}

div[data-selected]{
    height:100%;
    overflow-x: hidden;
    margin-top: 0;
}
.projet{
    border: 3px solid black;
    border-radius:50px;
    margin-bottom: 2%;
    background-color: #475158;
    height:550px;
}
.projet > p{
    text-align: left;
    margin-left:50px;
    margin-top: 1%;
}
.box{
    min-width:200px;
    margin : 2px 0 10px auto 10px;
    justify-content: space-around;
    padding:10px;
    height: 375px;
}
.box>img{
    width:100%;
    padding-top:-15px;
    padding-bottom:0px;
}
