.image {
    width: 100%;
    height: 33%;
}

.titreCard {
    font-size: 1.3em;
    color: black;
}

.texteCard {
    font-size: 0, 3em;
    color: black;
}

article{border: none;}
#fleche{
    /* position :absolute; */
    z-index:1;
    margin-left:0%;
    color:#202525;
}
 
#fleche:nth-of-type(2){
    left:87%;
    width: 1em;
    text-align: center;
    color:#202525;
    
}
.sectionspecial{

 width: 98%;
 height:17em;
 background-color:transparent;
 margin-top: 0%;
 margin: 5%;
 display:flex;
 justify-content: left; 
 overflow-y: hidden;
overflow-x: hidden 

}
.sectionspecial::-webkit-scrollbar{
    visibility: hidden;
}
div{
    min-width:13.67em;
    /* height:98%; */
    position:relative;
    left:0;
    text-align: center;
     padding-top: 0.5%;  
    font-size: medium;
    font-weight: bold;
    color:white;
    margin-left: 2%;
    transition:  0.5s;
    background-color: #FAF5BC;
}
#fleche2{
    top: 100%;color:#202525;
    
}
#fleche2:nth-of-type(2){
    left:87%;
    width: 1em;
    text-align: center;
    color:#202525;
    
}