/* .span5{
padding-top:0%;
} */
/* .span4{
    padding-top: 5%;
} */
h3{ color:black;}
.forme>p{ color:black;}

.span3{
    padding-top:10em;
}
.span4{
    padding-top:50%;
}
.span5{
  
    vertical-align: middle;
}
.position{
    position: absolute;
}
