h2{
    text-align: center;
    margin-top: 2%;
}
#titreJeu > p{
    text-align: center; 
}
.posfleche{
    margin-top: 1%;
}
.cadreCentrale{
    display:flex;
    flex-direction: row;
}
.cadreGauche{
    width: 55%;
    display: flex;
    flex-direction: column;
    
}
.cadreDroite{
    width:44%;
    display: flex;
    flex-direction: column;  
}
article{
    height:25vw;
    margin-top: 2%;
    border-radius: none;
}
.cadrejeu{
    height: 50vw;
}
.pistede{
    height:90%;
    width:95%;
    margin-left: 5%;
    border:  black 5px solid;
    border-radius: 50px;
    background-color: #313439;
}