* {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

section {
   margin-left: 50%;
   margin-top: 5%;
}

body {

   background-image: url("../assets/img/Scrumble_plateau.png");
   background-size: 55%;
   background-repeat: no-repeat;
}
