<nav >
    <a routerLinkActive='active' routerLink='/accueil'>
    <img routerLinkActive='active' routerLink="" src="./assets/img/logo_scrumble.png" alt=""></a>
    <ul>
        <li> <a routerLinkActive='active' routerLink='/accueil'> Accueil </a>  </li>
        <li> <a routerLinkActive='active' routerLink='/daylicarte'> Daylicarte </a>  </li>  
        <li> <a routerLinkActive='active' routerLink='/revuecarte'> CarteRevue</a>  </li>
        <li> <a routerLinkActive='active' routerLink='/pbcarte'> CartePb</a>  </li>  
        <li> <a routerLinkActive='active' routerLink='/role'> Role</a>  </li> 
        <li> <a routerLinkActive='active' routerLink='/regles'> Regles</a>  </li>  
        <li> <a routerLinkActive='active' routerLink='/choix'> Userstories</a>  </li> 
     
        
    </ul>
</nav>
