<nav >
    <img routerLinkActive='active' routerLink="/accueil" src="./assets/img/logo_scrumble.png" alt="">
    <ul>
        
        <li> <a routerLinkActive='active' routerLink='/daylicarte'> Daylicarte </a>  </li>  
        <li> <a routerLinkActive='active' routerLink='/revuecarte'> CarteRevue</a>  </li>
        <li> <a routerLinkActive='active' routerLink='/pbcarte'> CartePb</a>  </li>  
        <li> <a routerLinkActive='active' routerLink='/accueil'> Role</a>  </li> 
        <li> <a routerLinkActive='active' routerLink='/regles'> Regles</a>  </li>  
        <li> <a routerLinkActive='active' routerLink='/choix'> Userstories</a>  </li> 
     
        
    </ul>
</nav>
