<app-navbar></app-navbar>
<div class="container">
    <h1>Mettre a jour une carte:</h1>
  
    <a href="#" routerLink="/role" class="btn2">Accueil</a>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="fullName">Nom complet (Prenom + Nom de famille)</label>
            <input 
                formControlName="fullName"
                id="fullName" 
                type="text" 
                [(ngModel)]="role.fullName"
                class="form-control">
            <div *ngIf="f.fullName.touched && f.fullName.invalid" class="alert alert-danger">
                <div *ngIf="f.fullName.errors?.required">fullName is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="titre">role ( 2 role Accepté: USER ou ADMIN):</label>
            <input 
                formControlName="role"
                id="role" 
                type="text" 
                [(ngModel)]="role.role"
                class="form-control">
            <div *ngIf="f.role.touched && f.role.invalid" class="alert alert-danger">
                <div *ngIf="f.role.errors?.required">role is required.</div>
            </div>
        </div>
        
        
        <button class="btn" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>
<app-footer></app-footer>